/*
.panel-default > .panel-heading:nth-child(odd) {
  background: #00f5f5;
}

.even {
  background-color: #ccc;
}

.odd {
  background-color: #333;
}

.row:nth-child(even) {
  background-color: darkgray;
}

.row:nth-child(odd) {
  background-color: lightgray;
}
*/
.row:hover {
  background-color: lightgrey;
}

.edit-banner {
    background-color: grey;
}
/*
.row > .col-sm-3:nth-child(odd) {
  background: #00f5f5;
}


.col-sm-3:nth-of-type(odd) .row {
  background: #00f5f5;
}

*/


