/*app-shopping-cart-list :nth-child(even) {
  background-color: darkgray;
}

app-shopping-cart-list :nth-child(odd) {
  background-color: lightgray;
}

app-shopping-cart-list :hover {
  background-color: lightgreen;
}

*/

.edit-heading {
    color: grey;
}


.edit-banner {
  color: red;
}

.main-rule {
  border-top: 1px solid red;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}




/*
.panel-default > .panel-heading:nth-child(odd) {
  background: #00f5f5;
}

.even {
  background-color: #ccc;
}

.odd {
  background-color: #333;
}
*/
