<h1>Shopping Cart</h1>

<h3>Add an Ingredient</h3>
<div class="input-group input-group-sm">
  <label>Name:</label>
  <input type="text" class="form-control" [(ngModel)]="ingredient" />
  <label>Contents:</label>
  <input type="text" class="form-control" [(ngModel)]="contents" />
  <button class="btn btn-success" (click)="onAddIngredient()">Add</button>
</div>



<div>
  <h3>List of Ingredients</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">Name</div>
      <div class="col-sm-6">Contents</div>
      <div class="col-sm-3">Action</div>
    </div>
    <app-shopping-cart-list *ngFor="let ingredient of ingredients; let i=index" (deleteIngredient)="onDeleteIngredient($event)" [name]="ingredient.name" [contents]="ingredient.contents" [i]="i"></app-shopping-cart-list>
  </div>
</div>
